* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Sen', sans-serif;
}

header {
    color: #374a5f;
}

a {
    text-decoration: none;
    color: #374a5f;
}

a:hover {
    color: #7fd1de;
}

.fa-search {
    margin-right: 30px;
}

.top-right .btn {
    margin: 0 10px;
}

.top-left a:hover, #nav-menu a:hover {
    color: #374a5f;
}

.fa-search {
    color: #3fb8cb;
}

#header-top {
    background-color: #f5f8fa;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
}

#header-bottom {
    height: 100px;
    background-color: white;
    padding: 30px 0;
    margin-top: 79px;
}

.container {
    width: 1080px;
    margin: auto;
}

.top-right {
    width: 50%;
    float: left;
    text-align: right;
    padding: 30px 0;
}

.top-left {
    width: 50%;
    float: left;
    padding: 30px 0;
}

/* .top-left a:first-child {
    border-right: 2px solid #cbd6e2;
} */

.top-nav-menu {
    margin: 0 7px;
}

.btn {
    padding: 15px;
    border-radius: 5px;
}

.btn-white {
    background: white;
    color: #ff7a59;
    border: 1px solid #ff7a59;
}

.btn-white:hover, .btn-orange:hover {
    background: #fff1ee;
    color: #ff7a59;
}

.btn-white-black {
    background-color: white;
    color: #33475b;
    padding: 15px;
    width: 75%;
    display: inline-block;
    text-align: center;
}

.btn-white-black a, .btn-white-black:hover {
    color: #33475b;
}

a.btn.btn-orange.cta-btn.no-margin {
    float: right;
    width: 80%;
    text-align: center;
}

.full-cta {
    width: 100%;
    text-align: center;
}

header a {
    color: #374a5f;
}

.btn-orange {
    background: #ff7a59;
    color: white;
}

.btn-orange:hover {
    background-color: #ffbcac;
}

.container::after {
    display: table;
    content: "";
    clear: both;
}

#logo {
    width: 30%;
    float: left;
}

#nav-menu {
    width: 70%;
    float: left;
    text-align: right;
    padding-top: calc((34px - 24px)/2);
    padding-bottom: calc((34px - 24px)/2);
    font-size: 18px;
}

ul {
    list-style-type: none;
}

#nav-menu li {
    display: inline-block;
    margin: 0 22px;
}

#nav-menu-footer li {
    display: inline-block;
    margin: 0 20px;
}

.title-content-box img {
    vertical-align: bottom;
}

.list-content-box-large li {
    display: inline-block;
    margin-right: 7px;
}
.list-content-box-large {
    float: left;
}

#static-slider {
    background-image: url("img/background.png");
    border-bottom: 3px solid #33475b;
    padding: 60px 0;
    background-size: cover;
    background-position: center;
}

#services {
    padding: 40px 0;
    background-color: #f5f8fa;
}

.content {
    width: 30%;
    float: left;
    margin-right: 10%;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 34px;
}
p {
    margin: 10px 0;
}

.cta-btn a {
    margin: 10px 0;
    display: inline-block;
}

.cta-btn p {
    font-size: small;
}

.small-container {
    width: 34%;
    float: left;
    padding: 0 18px;
}

.box-large {
    width: 66%;
    float: left;
    background-color: white;
    padding: 30px;
}

.clearfix {
    display: table;
    content: "";
    clear: both;
}

h3 {
    display: inline-block;
}

.item {
    margin-bottom: 10px;
}

.item::before {
    content: "\f058";
    font-weight: 800;
    font-family: "Font Awesome 5 Pro";
    color: #ff7959;
    margin-right: 7px;
}

.box-large:hover, .box:hover {
    box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
    -webkit-transform: scale(1.014);
    transform: scale(1.014);
    transition: 0.3s ease-in-out;
}

.boxe-large a {
    display: inline-block;
}

.description-content-box p {
    margin: 30px 0;
}

.features-box-large p {
    width: 30%;
}

.features-box-large p::after {
    content: '';
    position: absolute;
    border-bottom: 3px solid rgba(153,172,194,0.2);
    top: 50%;
    width: 78%;
    transform: translateY(-50%);
    right: 0;
}

.features-box-large {
    width: 100%;
    position: relative;
}

.features-box-large hr {
    width: 70%;
    color: red;
}

.box {
    float: left;
    width: 32%;
    background-color: white;
    padding: 25px;
    margin-top: 20px;
}

.row .box:nth-child(2){
    margin-right: 2%;
    margin-left: 2%;
}

.row {
    width: 100%;
}

.barra-box {
    border-bottom: 3px solid rgba(153,172,194,0.2);
    padding-top: 10px;
}

.popular {
    text-transform: uppercase;
    margin: 20px 0;
    display: block;
}

.title-content-box {
    margin-bottom: 30px;
}

#wrapper {
    background-image: linear-gradient(45deg, #00a4bd, #00bda5);
    color: white;
    text-align: center;
}

.content-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
    width: 100%;
}

.riquadro {
    width: 25%;
    float: left;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-riquadro {
    height: 40px;
    margin-top: 10px;
}

.img-riquadro img {
    height: 100%;
}

.title-riquadro {
    margin-top: 10px;
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
}

#wrapper h2 {
    font-size: 35px;
    padding: 100px 0;
}

.riquadro:nth-child(4n+0) {
    border-right: 0;
}

#customers {
    background-color: #f5f8fa;
    padding: 50px 0;
}

.logo-customers {
    width: 60%;
    float: left;
}

.img-customers {
    width: 25%;
    float: left;
    height: 100px;
    position: relative;
}

.img-customers img {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

#customers h2 {
    font-size: 40px;
    font-weight: 700;
}

.content-growing-left, .content-growing-right {
    width: 50%;
    float: left;
}

.content-growing-left {
    padding-top: 50px;
    padding-bottom: 50px;
}

.img-growing {
    width: 50%;
    margin: auto;
}

.img-growing img {
    width: 100%;
}

#growing {
    padding: 50px 0;
}

footer {
    background-color: #33475b;
    padding-top: 50px;
}

.link-list-footer {
    float: left;
    width: 25%;
}

a {
    color: #cbd6e2;
}

.title-list {
    color: #FFF;
    padding: 0;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: default;
}

.link-list-footer li {
    padding: 10px 0;
}

.top-footer {
    padding-top: 40px;
}

.btn-footer {
    text-align: center;
    border-radius: .1875rem;
    background-color: #fff;
    color: #33475b;
    padding: 0.655em 1.111em 0.355em;
    border-radius: 5px;
}

.icon-link {
    display: inline-block;
    font-size: 18px;
    margin-right: 24px;
}

.language-nav {
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    padding-bottom: 30px;
}

.language-nav li {
    display: inline-block;
    margin: 0 5px;
}

#nav-menu-footer {
    width: 70%;
    float: left;
    text-align: right;
    padding-top: calc((34px - 24px)/2);
    padding-bottom: calc((34px - 24px)/2);
    font-size: 20px;
}

.bottom-menu {
    float: left;
    width: 100%;
    padding: 40px 0;
    border-top: 1px solid #7c98b6;
}

.bottom-menu p {
    font-size: small;
    color: #cbd6e2;
}

.riquadro:nth-child(1n+5) {
    border-bottom: 0;
}

#btn-li {
    margin-top: 10px;
}

.btn-fixed {
    float: right;
    width: 50%;
}

.no-margin {
    margin: 0;
}

#widget {
    background-color: rgb(66, 91, 118);
    transition: box-shadow .1s ease-in-out;
    box-shadow: 0 1px 6px rgba(0,0,0,.1), 0 2px 24px rgba(0,0,0,.2);
    position: fixed;
    z-index: 10;
    border-radius: 50%;
    bottom: 0;
    right: 0;
    margin-right: 16px;
    margin-bottom: 16px;
}

#chat {
    position: relative;
    width: 60px;
    height: 60px;
}

#chat img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#widget:hover {
    box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 4px 28px rgba(0,0,0,.3);
    cursor: pointer;
}

.white:not(a) {
    color: white;
}

#special-link:hover {
    color: #cbd6e2;
}

li a {
    display: inline-block;
    width: 100%;
}

.top-wrapper {
    width: 71%;
    margin: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9;
  border: 1px solid #cbd6e2;
}

.dropdown-content:hover {
    display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #e5f5f8;
}

.dropdown:hover .dropdown-content {display: block;}

.dropdown > :first-child {
    border-right: 2px solid #cbd6e2;
}
